<nb-card>
  <nb-card-header>DEMANDE: <span style="color: red">63453921-E7AA</span></nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
       <nb-card-header style="text-align: center ;margin-left: 180px; padding: 30px;">
         <div>
          <span>N°Interrogation : <span style="color: red">63453921 |</span>
            <span> Date Chargement :</span>  <span style="color: red"> 25/02/2023   14:50 |</span>
             <span> Procesus :</span> <span style="color: red"> Saisie Arret </span>
          </span>
       </div></nb-card-header>
        <div class="col-md-8">
          <nb-card size="large">
          <nb-card style="overflow: auto; height: 600px;width: 100%">
            <table style="text-align: center">
              <thead style="color: white;background-color: red">
              <th>code client</th>
              <th>CIN</th>
              <th>RC</th>
              <th>RT</th>
              <th>Controle</th>
              <th>juge</th>
              <th>action</th>
              </thead>
              <tbody>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>   <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>


              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              <tr>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
                <td>aa</td>
              </tr>
              </tbody>
            </table>
          </nb-card>
            <nb-card-footer style="margin-left: 180px;">
              <div style="float: right">
                <select id="rows-per-page" name="rows-per-page">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                </select>
              </div>
            </nb-card-footer>

            <nb-card-footer style="margin-left: 180px;">
              <div class="pagination mt-2" >
                <button>&laquo;</button>
                <button> < </button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button> > </button>
                <button>&raquo;</button>
              </div>
            </nb-card-footer>


          </nb-card>

        </div>

        <div class="col-md-4">
          <nb-card size="large">
            <nb-card-header>
              <h5 style="text-align: center">Progrès de la validation</h5>
            </nb-card-header>
            <nb-card-body >
              <nb-stepper  orientation="vertical" >
                <nb-step stepper-step-text-color="#800000" label="Initiation" style="font-weight:bold !important;">

                <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
                <nb-step label="Second step">
                  <h4>Step content #2</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper.
                  </p>
                </nb-step>
                <nb-step label="Third step">
                  <h4>Step content #3</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
                <nb-step label="Fourth step">
                  <h4>Step content #4</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
              </nb-stepper>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>
<nb-card class="help-card">
  <nb-icon icon="question-mark-circle-outline" pack="eva" class="help-icon"></nb-icon>
  <span class="help-text">Help Center</span>
</nb-card>

